@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bai+Jamjuree&family=Bebas+Neue&family=Big+Shoulders+Display:wght@700&family=Cormorant+SC:wght@300&family=Dancing+Script&family=Edu+VIC+WA+NT+Beginner:wght@400;700&family=Ibarra+Real+Nova:ital,wght@1,600&family=Itim&family=League+Spartan:wght@700&family=Lexend+Deca&family=Roboto:wght@300;400&family=Unbounded:wght@700&display=swap');

body{
    margin: 0;
    padding: 0;
}
.background1{
    width: 100%;
}
.background1 .head{
    background-image: url("/images/bg-header-desktop.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 30%; 
    text-align: center; 
}
.background1 .head img{
    text-align: center;
    margin-top: 4%;
    margin-bottom: 2%;
}
.background1 .head2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}
.background1 h1{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    text-align: center;
    color: hsl(210, 10%, 33%);
    font-size: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.background1 p{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 1.125rem;
    color: hsl(201, 11%, 66%);
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.background1 .button{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.icon1{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 1.125rem;
    margin-right: 2rem;
    border-radius: 1.5rem;
    background-color: hsl(171, 66%, 44%);
    color: white;
    padding: 0.8rem;
    padding-top: 1rem;
    border: 2px solid  hsl(171, 66%, 44%);
    box-shadow: 2px 2px  hsl(210, 10%, 33%);
}
.icon2{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 1.125rem;
    border-radius: 1.5rem;
    background-color: hsl(233, 100%, 69%);
    color: white;
    padding: 1rem;
    box-shadow: 2px 2px  hsl(210, 10%, 33%);
}
.details h2{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    text-align: center;
    color: hsl(210, 10%, 33%);
    font-size: 1.4rem;
    margin-top: 4rem;
    
}
.details p{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 1.125rem;
    color: hsl(201, 11%, 66%);
    width: 40%;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}
.background2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.background2 .culum1{
    display: flex;
}
.culum1 .row{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.row1{
    width: 50%;
    margin-left: 15%;
}
.row1 h2{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    color: hsl(210, 10%, 33%);
    font-size: 1.4rem;
    margin-top: 4rem;
}
.row1 span{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    color: hsl(201, 11%, 66%);
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}
.culum2 h2{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    text-align: center;
    color: hsl(210, 10%, 33%);
    font-size: 1.4rem;
    margin-top: 2rem;
}
.culum2 p{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 1.125rem;
    color: hsl(201, 11%, 66%);
    width: 40%;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}
.background3 {
    text-align: center;
}
.background3 img{
    margin-top: 4rem;
}
.background3 h2{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    text-align: center;
    color: hsl(210, 10%, 33%);
    font-size: 1.4rem;
    margin-top: 1rem;
}
.background3 p{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 1.125rem;
    color: hsl(201, 11%, 66%);
    width: 40%;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.background4 .colum1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.row4{
    padding-top: 1.1rem;
}
.row4,.row5,.row6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 27%;
    margin-top: 4rem;
}
.colum1 img{
    width: 3rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.colum1 h2{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    text-align: center;
    color: hsl(210, 10%, 33%);
    font-size: 1.4rem;
    margin-top: 1rem;
}
.colum1 p{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    color: hsl(201, 11%, 66%);
    text-align: center;
    width: 90%;
    margin-top: 1rem;
}
.background4 .culum2{
    display: flex;
    justify-content: center;
    margin-top: 8rem;
}
.culum2 img{
    margin-right: 4rem;
    margin-left: 1rem;
    height: 45px;
}
.culum3{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.culum3 h1{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    text-align: center;
    color: hsl(210, 10%, 33%);
    font-size: 1.4rem;
    margin-top: 8rem;
}
.culum3 p{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    color: hsl(201, 11%, 66%);
    text-align: center;
    width: 40%;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}
.background4 .button{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
footer{
    background-image: url("/images/bg-header-desktop.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 6rem;
    margin-top: 6rem;
}
footer h3{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    color: hsl(201, 11%, 66%);
   
}
footer img{
    width: 3rem;
    margin-top: 1rem;
    margin-right: 4rem;
}
footer .culum1{
    margin-left: 3rem;
    margin-right: 2rem;
   
}
footer .culum2{
    margin-left: 3rem;
    margin-right: 2rem;
    
}
footer .culum3{
    margin-left: 3rem;
    margin-right: 5rem;
    margin-top: 0;
}
.icon{
    display: flex;
    margin-left: 18rem;
}
.icon img{
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    margin-left: 0;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}
.culum3 h4{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    color: hsl(201, 11%, 66%);
    margin-top: 0;
}

@media only screen and (max-width:89.9375rem){
    body{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .background1{
        width: 20rem;
        height: auto;
    }
    .background1 .head{
        background-image: url("/images/bg-header-mobile.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 20rem;
    }
    .background1 h1{
        width: 100%;
        font-size: 2rem;
    }
    .background1 p{
        width: 100%;
    }
    .background1 .button{
        flex-direction: column;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .icon1{
        padding: 0.8rem;
        width: 18rem;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .background1 .details{
        width: 20rem;
        margin-bottom: 1rem;
    }
    .icon2{
        padding: 0.7rem;
        width: 18rem;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .background2{
        width: 20rem;
    }
    .background2 img{
        width: 18rem;
    }
    .background2 .culum1 img{
        width: 18rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .background2 .culum1{
        display: flex;
        flex-direction: column;
    }
    .row1{
        width: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .row1 h2{
        margin-top: 1rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }
    .row1 span{
        margin-top: 1rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
    }
    .culum2{
        display: flex;
        flex-direction: column;
    }
    .culum2 h2{
        margin-top: 4rem;
        text-align: center;
        margin-left: auto;
        margin-bottom: auto;
        width: 20rem;
    }
    .culum2 p{
        text-align: center;
        margin-left: auto;
        margin-bottom: auto;
        width: 20rem;
    }
    .background3 img{
        width: 18rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .background3{
        width: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .background3 .details p{
        width: 20rem;
    }
    .background4{
        width: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .background4 .colum1{
        display: flex;
        flex-direction: column; 
    }
    .background4 .row4{
        width: 20rem;
        margin-top: 0;
    }
    .row4,.row5,.row6{
        width: 20rem;
    }
    .background4 .culum2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .culum2 img{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4rem;
    }
    .background4 .culum3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 3rem;
    }
    .culum3 h1{
        width: 20rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .culum3 p{
        width: 20rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .culum3 .button{
        display: flex;
        flex-direction: column;
    }
    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20rem;
        background-image: url("/images/bg-header-mobile.png");
        height: 24rem;
        background-size: cover;
        background-repeat: no-repeat;
    }
    footer h3{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    footer img{
        width: 20rem;
        text-align: center;
        width:5rem ;
        margin-left: auto;
        margin-right: auto;
    }
    footer .culum1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    footer .culum2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    footer .culum3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    footer .icon{
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }
    .icon img{
        margin-bottom: 2rem;
        margin-top: 1rem;
    }

}